:root {
  --var-primary: #F3F4EF;
  --var-secondary: #C31C26;
  --var-background-dark: #111111;
  --var-background-light: #1B1B1B;
  --var-text: #c8c8c8;
}

body {
  background-color: var(--var-background-dark);
  color: var(--var-primary);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

#features,
#reviews {
  scroll-margin-top: 5rem;
}

/* Containers */
.App {
  width: 100%;
  padding: 0;
}

#root,
.web-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 2rem;
  box-sizing: border-box;
}

.section-container-light {
  background-color: var(--var-background-light);
}

.section-container-tall {
  min-height: 100vh;
}

.section-container__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.section-container__item-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  width: 100%;
  max-width: 1200px;
}

.section-container__item-grid-3col {
  grid-template-columns: 1fr;
}

.section-container__item-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.align-left {
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .section-container {
    padding: 4rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-container {
    padding: 5rem 5rem;
  }

  .section-container__item-grid {
    grid-template-columns: 1fr 1fr;
  }

  .section-container__item-grid-3col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .section-container {
    padding: 6rem 7rem;
  }
}

/* Typography */
.section-container__header {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

.section-container__p {
  font-size: 1.1rem;
  margin: .5rem 0;
  color: var(--var-text);
  width: 100%;
}

.text-highlight {
  color: var(--var-secondary);
  font-weight: 700;
}

.reverse-flow {
  display: flex;
  flex-direction: column-reverse;
}

.extra-gap {
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .section-container__header {
    font-size: 2.2rem;
  }

  .reverse-flow {
    display: grid;
  }
}

@media screen and (min-width: 1200px) {
  .section-container__header {
    font-size: 2.4rem;
  }
}

/* Buttons & Links */
.btn {
  background-color: var(--var-secondary);
  color: var(--var-primary);
  border: none;
  border-radius: 1px;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--var-secondary), #9E1218);
}

.btn:hover {
  color: var(--var-primary);
  opacity: .8;
}

.link-null {
  opacity: 0.5 !important;
  cursor: default !important;
}

.link {
  color: var(--var-secondary);
  transition: all .3s;
}

.link:hover {
  color: var(--var-secondary);
  opacity: .8;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.2rem;
  }
}

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-header {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.form-input {
  width: 100%;
  margin-bottom: .3rem;
  padding: .5rem;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--var-background-light);
}

.form-btn {
  width: 100%;
}

.form-helper {
  margin: 0.3rem 0 0 0;
  color: var(--var-text);
  text-align: center;
}

.form-error {
  color: var(--var-text);
  width: 100%;
  margin: 0 0 .3rem 0;
}

.form-link {
  color: #fff;
  transition: all .3s;
}

.form-link:hover {
  text-decoration: none;
  color: var(--var-secondary);
}

.btn:disabled {
  cursor: default;
  opacity: .5;
}