.navbar {
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin-bottom: 2rem;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

.nav-link,
.navbar-brand {
    color: var(--var-primary);
    text-transform: uppercase;
}

.navbar-brand {
    padding: 0;
}

.nav-link:hover,
.navbar-brand:hover {
    color: var(--var-primary);
    opacity: 0.8;
}

.navbar-toggler,
.navbar-toggler-icon {
    outline: none;
    border: none;
    color: var(--var-primary);
    font-size: 1rem;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
}

.navbar-brand__img {
    width: 3rem;
    height: 3rem;
    border-radius: 2px;
}