.home-hero {
    margin-bottom: 0;
}

.home-hero__header {
    margin: .5rem 0;
    font-weight: 800;
    font-size: 2.2rem;
}

.home-hero__p {
    margin: .3rem 0;
    font-weight: 500;
}

.home-hero__header-sm {
    color: var(--var-secondary);
    font-size: 1.9rem;
    margin: 0;
    font-weight: 800;
}

.home-hero__btn {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .home-hero__header-sm {
        font-size: 1.6rem;
    }

    .home-hero__header {
        font-size: 2.2rem;
    }

    .home-hero__btn {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .home-hero__header-sm {
        font-size: 1.8rem;
    }

    .home-hero__header {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .home-hero__header-sm {
        font-size: 2rem;
    }

    .home-hero__header {
        font-size: 2.6rem;
    }
}

/* Home Value Prop */
.home-value {}

/* Home Feed */
.home-feed-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: .3rem;
}

@media screen and (min-width: 768px) {
    .home-feed-card-container {
        grid-template-columns: 1fr
    }
}