.home-feed-card {
    background: var(--var-background-dark);
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
}

.home-feed-card__header {
    width: 100%;
}

.home-feed-card__header-h3 {
    font-size: 1.2rem;
    color: var(--var-primary);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 100%;
}

.home-feed-card__header__p {
    color: var(--var-text);
    font-weight: 300;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-feed-card__header-icon {
    font-size: 1.4rem;
    margin: 0.3rem .5rem .3rem 0;
}

.home-feed-card__header-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    border-radius: 3px;
    font-size: 1rem;
    max-height: 2.4rem;
}

.home-feed-card__header-delete-icon {
    font-size: 1.2rem;
    color: var(--var-text);
    cursor: pointer;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .home-feed-card__header-h3 {
        font-size: 1.4rem;
    }

    .home-feed-card__header__p {
        font-size: 1.2rem;
    }
}