.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
}

.footer-container__link {
    color: var(--var-primary);
    margin: 0.2rem 0;
}

.footer-container__link:hover {
    color: var(--var-primary);
    opacity: 0.8;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}